.barra-busqueda{
    width: 20% !important;
    margin-top: 2rem;
    margin-left: 1rem !important;
    border: none !important;
    border-radius: 0 !important;
    border-bottom: 1px solid gray !important;
}